* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

h1 {
  background-color: #222;
  color: white;
  font-family: sans-serif;
  display: inline;
}

.btn,
#checkout {
  text-decoration: none;
  color: white;
}

nav {
  height: 5rem;
  display: flex;
  width: 100%;
  align-items: center;
}

.btn-container {
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

#checkout {
  justify-self: right;
}

/* CARDS */

.card-container {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  margin-top: 50px;
}

.card {
  background-color: white;
  width: 320px;
  height: 25rem;
  border: 2px solid #333;
  border-radius: 0.5rem;
}

.cards {
  display: grid;
  justify-items: center;
}

.card-buy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.card-buy p {
  display: flex;
  font-size: 1.6rem;
}
.card-buy p span {
  font-weight: 600;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.card-add {
  width: ;
  display: flex;
  flex-direction: row;
}

.card-img {
  height: 180px;
  max-width: 315px;
}

.header {
  font-size: 16px;
  text-align: center;
  background-color: black;
  color: white;
}

.header:hover {
  cursor: pointer;
}

/* Y */
p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Antal rader att visa innan avkortning */
  line-clamp: 2;
  max-height: 3.6em; /* (Font size) x (line clamps) */
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* Antal rader att visa innan avkortning */
  line-clamp: 2;
  max-height: 3.6em; /* (Font size) x (line clamps) */
  display: block;
  margin: 10px;
}

.div.card {
  display: grid;
  justify-items: center;
}

.btn:first-child {
  font-size: 30px;
}


#asideVarukorg {
  display: none;
  height: 100vh;
  background-color: black;
  width: 25rem;
  z-index: 10;
}