body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CARD FOR PRODUCTS */

.card-container {
  width: 1200px;
  background-color: red;
  height: 20rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
}

.card {
  background-color: white;
  width: 320px;
  height: 19rem;
}

.card-buy {
  display: flex;
}

.card-img {
  width: 150px;
  height: 150px;
}
