.show-modal {
  position: absolute;
  right: 1rem;
  top: 7.4rem;
  background-color: inherit;
  font-weight: 600;
  border: none;
  color: #444;
  cursor: pointer;
  background: transparent;
}

.show-modal img {
  width: 3rem;
  height: 3rem;
}

.close-modal {
  position: absolute;
  top: -1rem;
  right: 0.5rem;
  font-size: 4rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: -3.5rem;
  right: 0rem;
  width: 17rem;
  height: 34.4rem;
  background-color: white;
  color: #333;
  padding: 2rem 0.5rem;
  border-radius: 5px;
  margin-top: 14rem;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(226, 226, 226);
  overflow-y: auto;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*   background-color: rgba(0, 0, 0, 0.6); */
  /*   backdrop-filter: blur(3px); */
  z-index: 5;
}
